{% extends 'umc/base.html' %}

{% block content %}
	<div class="user_request">
		{% if user_request.created_date %}
			<div class="date">
				<p>created: {{ user_request.created_date }}</p>
			</div>
		{% endif %}
		<h1>User Account Request</h1>
		<h5>Requestor Employee ID:  <a href="">{{ user_request.requestor_emp_id }}</a></h5>
		<h5>User Employee ID:  <a href="">{{ user_request.user_emp_id }}</a></h5>
		<h5>Client Name:  <a href="">{{ user_request.client_name }}</a></h5>
	</div>
{% endblock %}