<html>
    <head>
        <title>UMC</title>
    </head>
    <body>
        <div>
            <h1><a href="">User Management Console</a></h1>
        </div>
		
		<div>
			{% for user_request in user_requests %}
				<div>
					<p>created: {{ user_request.created_date }}</p>
					<h4><a href="">{{ user_request.requestor_emp_id }}</a></h4>
					<h4><a href="">{{ user_request.user_emp_id }}</a></h4>
					<h4><a href="">{{ user_request.client_name }}</a></h4>
				</div>
			{% endfor %}
        </div>

    </body>
</html>